@import "../common/style/utils/settings";
@import "../common/style/mixins/flex";
@import "../common/style/mixins/borderRadius";
@import "../common/style/mixins/boxShadow";

.pp-section{   
    .product-container{
        @include flex(row,nowrap);
        justify-content: space-between;        
    }
    .content{
        @include flex(row, nowrap);
        justify-content: space-between;
        .left-wrapper{
            width: calc(30% - 5.2rem);
            margin-right: 5.2rem;
        }
        .right-wrapper {
          width: 70%;
          @include flex(row,wrap);
          justify-content: space-between;     
        }
    }
}