.filter-wrapper{

    .heading{
    font-size: 1.6rem;
    font-weight: 500;
    color: #253858;
    text-transform: uppercase;
    text-align: left;
    border-bottom: .1rem solid #e9e7e7;
    padding-bottom: 1.4rem;
    }
    .inputs{
        padding: 1.8rem 0;
    }
}